<!DOCTYPE html>
<html>
  
    <!--------------------------Income------------------------>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A safe place to track your transactions</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    


<body>
    <%- include('../partials/head.ejs') %>
    <header>
        <h1>Edit <%= income.name %>'s Info</h1>
        <nav>
            <ul style="list-style-type: none;">
                <li>
                    <a href="/"><button>Home</button></a>
                </li>
                <li>
                    <a href="/income"><button> Income Index</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Income Attributes:</h2>
        <form action="/income/<%= income._id %>?_method=PUT" method="POST">
           Name Of Income: <input type="text" name="title" value="<%= income.title %>" /><br />
           How much is coming in: <input type="text" name="cost" value="<%= income.cost %>" /><br />
           Description: <input type="text" name="body" value="<%= income.name %>" /><br />
            <input type="submit" value="Update Income" />
          
        </form>
    </main>
</body>
<footer>
    <%- include('../partials/footer.ejs') %>
</footer>

</html>