<!DOCTYPE html>
<html>
    <!--------------------------Expenses------------------------>
   
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A safe place to track your transactions</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    

<body>
    <%- include('../partials/head.ejs') %>
    <header>
        <h1>Edit <%= expense.title %>'s Info</h1>
        <nav>
            <ul style="list-style-type: none;">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/expense">Expense Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Expense Attributes:</h2>
        <form action="/expense/<%= expense._id %>?_method=PUT" method="POST"><br />
           Name Of Expense: <input type="text" name="name" value="<%= expense.name %>" /><br />
           Cost of Expense: <input type="body" name ="cost" value="<%= expense.cost %>" /><br />
           Description:<input type="text" name="body" value="<%= expense.body %>" /><br>
           <input type="submit" value="Update Expenses" />
        </form>
    </main>
</body>

</html>